{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Contact Details</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="container">
        <h1>Existing Contact Details</h1>
        {% if message %}
        <p class="error-message">{{ message }}</p>
        {% endif %}
        <form method="post" action="{% url 'existing_contact_details' %}">
            {% csrf_token %}

{% if contact %}
            <p>Registration Number: {{ contact.registration_number }}</p><br>
            <p>Mobile: {{ contact.mobile }}</p><br>
            <p>Email: {{ contact.email }}</p><br>
            <p>Address: {{ contact.address }}</p><br>
        {% endif %}
        </form>
        <h2><a href="{% url 'contact_list' %}">Back To Contact List</a></form><h2>
        <h2><a href="{% url 'user_login' %}">Log Out</a></form><h2>
        </div>
    </body>
    </html>